.default-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;

  width: 100%;
}
.default-bar__icons {
  margin-right: 10px;
  display: flex;
  font-size: 17px;
}
.signal {
  margin-right: 18px;
}
.wifi {
  margin-right: 13px;
}
