/* #no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: #23d366;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  top: 0;
}
@media screen and(max-width:775px) {
  #no-mobile {
    display: none;
  }
} */

#no-mobile {
  display: none;
}
@media screen and (max-width: 500px) {
  #no-mobile {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #23d366;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
  }

  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
